[inet_http_server]
port=127.0.0.1:9001
username=admin
password=admin

[supervisord]
logfile=supervisord.log
logfile_maxbytes=10MB
logfile_backups=5
loglevel=info
pidfile=/usr/local/hecate/var/supervisord.pid
nodaemon=true
minfds=1024
minprocs=200
umask=022
user=root
identifier=supervisor-hecate
directory=/usr/local/hecate/var/
nocleanup=true
childlogdir=/usr/local/hecate/var/output/logs/
strip_ansi=true

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor-hecate.sock
serverurl=http://127.0.0.1:9001
sername=admin
password=admin
prompt=supervisor
history_file=~/.sc_history

[program:hecated]
command=/usr/local/hecate/bin/hecate -vvvv daemon
numprocs=1
directory=/usr/local/hecate/
umask=022
priority=999
autostart=true
startsecs=1
startretries=3
autorestart=unexpected
exitcodes=0,2
stopsignal=TERM
stopwaitsecs=10
stopasgroup=true
killasgroup=true
user=root
redirect_stderr=true
stdout_logfile=hecate.out
stdout_logfile_maxbytes=10MB
stdout_logfile_backups=5
stdout_capture_maxbytes=1MB
stdout_events_enabled=false
stderr_logfile=hecate.err
stderr_logfile_maxbytes=10MB
stderr_logfile_backups=5
stderr_capture_maxbytes=1MB
stderr_events_enabled=false
serverurl=AUTO